apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.global.namespace }}
  labels:
    {{- include "quickspin-ai.labels" . | nindent 4 }}
    name: {{ .Values.global.namespace }}
    environment: {{ .Values.global.environment }}
